/* your styles go here */
.traveldate td, .traveldate th {
    width: 1.5em;
    height: 1.5em;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}