
/* .front-indicator {
	width: 145px;
	margin: 5px 32px 15px 32px;
	background-color: #f6f6f6;	
	color: #adadad;
	text-align: center;
	padding: 3px;
	border-radius: 5px;
	float: left;
} */

.booking-details {
	/* float: right; */
	text-align: left;
	margin-left: 35px;
	font-size: 12px;
	position: relative;
	/* height: 401px; */
}
.booking-details h2 {
	margin: 25px 0 20px 0;
	font-size: 17px;
}
.booking-details h3 {
	margin: 5px 5px 0 0;
	font-size: 14px;
}
div.seatCharts-cell {
	color: #182C4E;
	height: 40px;
	width: 40px;
	line-height: 25px;
	
}
div.seatCharts-seat {
	color: #FFFFFF;
	cursor: pointer;	
}
div.seatCharts-row {
	height: 35px;
}
div.seatCharts-seat.available {
	background-color: blue;

}
div.seatCharts-seat.available.first-class {
/* 	background: url(vip.png); */
	background-color: #3a78c3;
}
div.seatCharts-seat.focused {
	background-color: #76B474;
}
div.seatCharts-seat.selected {
	background-color: green;
}
div.seatCharts-seat.unavailable {
	background-color: red;
}
div.seatCharts-container {
	/* border-right: 1px dotted #adadad; */
	width: 310px;
	padding: 40px;
	text-align: center;
	/* float: left; */
}
div.seatCharts-legend {
	padding-left: 0px;
	position: absolute;
	bottom: 16px;
}
ul.seatCharts-legendList {
	padding-left: 0px;
}
span.seatCharts-legendDescription {
	margin-left: 5px;
	line-height: 30px;
}
.checkout-button {
	display: block;
	margin: 10px 0;
	font-size: 14px;
}
/* #selected-seats {
	max-height: 200px;
	overflow-y: visible;
	overflow-x: none;
	width: 500px;
} */